@use "./variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font
}
.container {
  margin: 0 auto;
  width: 90%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
  &:hover{
    color:$dark-blue;
  }
}
h4 {
  font-size: 1.5rem;
}
h2 {
  font-size: 3rem;
  
}
// .btn {
//     display: inline-block;
//     margin-top: 1em;
//     padding: 1em 2em;
//     // backgroud:;
//     border-radius: 5px;
//     // color: ;
//     font-size: 1.7rem;
//     cursor: pointer;
//     outline: none;
//     border: none;


// }
// .btn:hover{
//     background-color: ;
// }
.btn{
  background-color: $blue; 
  color :$white;
  padding: 1em 2em;
     
     border-radius: 5px;
     font-size: 1rem;
     cursor: pointer;
     outline: none;
     border: none; 
     &:hover{
       background-color: $light-blue;
     }  
}
