// $font:'Crimson Pro', serif;
// $font:'Frank Ruhl Libre', serif;
$font:'Ysabeau', sans-serif;
$black:#000;
$white:#fff;
$light-gray:#f4f7fb;
$blue:rgb(59, 147, 205);
$light-blue:rgb(77, 203, 245);
$dark-blue:rgb(6, 110, 246);